[Desktop Entry]
Categories=Application;
Comment=fantacy-deepin
Comment[zh_CN]=幻梦动态壁纸deepin专版
Comment[pl]=Tapeta dynamiczna Fantascene

Exec=/opt/apps/com.deepin.fantacy/files/bin/fantascene-dynamic-wallpaper
GenericName=fantacy-deepin
GenericName[zh_CN]=幻梦动态壁纸deepin专版
GenericName[pl]=Tapeta dynamiczna Fantascene
Icon=fantascene-dynamic-wallpaper
Name=fantascene-dynamic-wallpaper
Name[zh_CN]=幻梦动态壁纸deepin专版
Name[pl]=Tapeta dynamiczna Fantascene
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
