[Desktop Entry]
Categories=Application;
Comment=fantascene-dynamic-wallpaper-uos
Comment[zh_CN]=幻梦动态壁纸uos版
Exec=fantascene-dynamic-wallpaper-uos
GenericName=fantascene-dynamic-wallpaper-uos
GenericName[zh_CN]=幻梦动态壁纸uos版
Icon=fantascene-dynamic-wallpaper-uos
Name=fantascene-dynamic-wallpaper-uos
Name[zh_CN]=幻梦动态壁纸uos版
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
X-Deepin-Vendor=user-custom
