[Desktop Entry]
Categories=Application;
Comment=fantascene-dynamic-wallpaper
Comment[zh_CN]=幻梦动态壁纸
Encoding=UTF-8
Exec=/opt/durapps/fantascene-dynamic-wallpaper/fantascene-dynamic-wallpaper
GenericName=fantascene-dynamic-wallpaper
GenericName[zh_CN]=幻梦动态壁纸
Icon=/opt/durapps/fantascene-dynamic-wallpaper/wallpaper.png
Name=fantascene-dynamic-wallpaper
Name[zh_CN]=幻梦动态壁纸
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
X-Deepin-ManualID=fantascene-dynamic-wallpaper
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=deepin
