Source: deepin-dreamscene
Section: base
Priority: optional
Maintainer: kirigaya <kirigaya@mkacg.com>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, qt5-qmake, qtbase5-dev, libdtkwidget-dev, libxcb-ewmh-dev, libmpv-dev 
Standards-Version: 0.1-1
Homepage: http://blog.mkacg.com

Package: deepin-dreamscene
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: video wallpaper for deepin.
