Source: fantascene-dynamic-wallpaper
Section: utils
Priority: optional
Maintainer: liuminghang <liuminghang0821@gmail.com>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, qt5-qmake, qtbase5-dev, libdtkwidget-dev, libxcb-ewmh-dev, libmpv-dev ,qttools5-dev-tools, libqt5opengl5-dev, libglib2.0-dev,libmtdev-dev
Standards-Version: 0.0-3
Homepage: http://github.com/dependon

Package: fantascene-dynamic-wallpaper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libqt5libqgtk2, kimageformat-plugins
Description: video wallpaper for fantascene.
