[Desktop Entry]
Categories=deepin-dreamscene-ui;
Comment=deepin-dreamscene-ui
Comment[zh_CN]=深度梦境动态壁纸
Encoding=UTF-8
Exec=/opt/durapps/deepin-dreamscene-ui/deepin-dreamscene-ui
GenericName=deepin-dreamscene-ui
GenericName[zh_CN]=深度梦境动态壁纸
Icon=/opt/durapps/deepin-dreamscene-ui/tray.ico
Name=deepin-dreamscene-ui
Name[zh_CN]=深度梦境动态壁纸
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
X-Deepin-Vendor=user-custom
